.card{
    width:100%;
    background: #140319;   
}

.card-header{
    font-weight: bold;
  font-size: 25px;
  color: #fff;
  background-color: rgb(42, 19, 57);
  border: #fff;
}

.card-body{
  background-color: rgb(57, 25, 78);
  color: #fff;
  font-weight:600;
}