@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, "Open Sans";
}

.App {
  text-align: center;
  background-color: #32033e;
}

.App .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.App .main {
  width: 100%;
  height: 100%;
}

.App .content {
  position: absolute;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.App .content .header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.App .content .header .logo-img {
  width: 80%;
}

.App .content .header .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10rem;
}

.App .content .section {
  height: 100vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .content .section .content-col {
  padding-right: 6rem;
}

.App .content .section .row {
  margin: auto !important;
}

.App .content .section .topic-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .content .section .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
}

.topic {
  font-family: Montserrat;
  color: #ffffff;
  font-weight: 800;
}

.body-text {
  font-family: "Open Sans";
  color: #ffffff;
  overflow: hidden;
  text-align: justify;
}

.logo-images {
  width: 50%;
}

.apply-main {
  background: linear-gradient(-10deg, #EE488A 0%, #944D9A 30%, #32033e 50%, #32033e 50%);
  background-size: 400% 400%;
  -webkit-animation: changeBackground 10s ease-in-out infinite;
          animation: changeBackground 10s ease-in-out infinite;
}

.apply-main .row {
  width: 100%;
}

.apply-main .apply-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.apply-main .apply-div .apply-btn {
  border-radius: 50px;
  padding: 1rem 2rem;
  margin: 2rem 0;
  background-image: linear-gradient(135deg, #944D9A 0%, #EE488A 100%);
}

.apply-main .apply-div .apply-btn:hover {
  font-weight: 600;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.apply-main .rules {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
}

.apply-main .rules ul {
  list-style-type: disc !important;
}

.App .content .section {
  padding: 50px 0;
  height: 100%;
  background-color: #32033e;
}

.apply-main .row {
  width: 80%;
}

.guideline .row {
  width: 80%;
}

.apply-div .apply-btn {
  border-radius: 50px;
  padding: 1rem 2rem;
  margin: 5rem 0;
  background-image: linear-gradient(135deg, #944D9A 0%, #EE488A 100%);
}

.timeline-section {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding: 5rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white !important;
  background-size: 400% 400%;
  -webkit-animation: changeBackground 10s ease-in-out infinite;
          animation: changeBackground 10s ease-in-out infinite;
}

.info-section h1 {
  color: #000000 !important;
}

.info-section h1 {
  color: #70177f !important;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
}

@-webkit-keyframes changeBackground {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes changeBackground {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/*# sourceMappingURL=main.css.map */