//Google fonts
// @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@800;800&family=Open+Sans:wght@300);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans&display=swap");

//fonts
$topic-font: Montserrat;
$content-font: "Open Sans";
$font-stack: Montserrat, "Open Sans";

//colors
$primary-font-color: #ffffff;
$secondary-color: #EE488A;
$primary-color: #32033e;
$background: rgba(0, 0, 0, 0.5);

* {
  box-sizing: border-box;
  font-family: $font-stack;
}

.about{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(29, 5, 46,1) 25%);// margin-top:20vh;     
}

.apply{
  background: rgb(29, 5, 46);
  background: linear-gradient(180deg, rgba(29, 5, 46,1) 0%, rgba(63, 23, 92,1) 25%);// margin-top:20vh;     
}

.guideline{
  background: rgb(63, 23, 92);
  background: linear-gradient(180deg, rgba(63, 23, 92,1) 0%, rgba(80, 37, 110,1) 25%);// margin-top:20vh;     
}

.timeline-section{
  background: rgb(80, 37, 110);
  background: linear-gradient(180deg, rgba(80, 37, 110,1) 0%, rgba(93, 53, 124,1) 25%) !important;// margin-top:20vh;     
}

.faq{
  background: rgb(93, 53, 124);
  background: linear-gradient(180deg, rgba(93, 53, 124,1) 20%, rgba(123, 82, 153,1) 75%) !important;// margin-top:20vh;     
}

.info-section{
  background: rgb(123, 82, 153);
  background: linear-gradient(180deg, rgba(123, 82, 153,1) 25%, rgba(183, 163, 197,1) 95%) !important;// margin-top:20vh;     
}

.footer{
  background: rgb(183, 163, 197);
  background: linear-gradient(180deg, rgba(183, 163, 197,1) 25%, rgba(202, 188, 212,1) 95%) !important;// margin-top:20vh;     
}

.footer p{
color:#32033e;
}

.App {
  text-align: center;
  background-color: $primary-color;
  // overflow-y:hidden ;

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main {
    width: 100%;
    height: 100%;
  }
  .content {
    position: absolute;
    width: 100%;
    // height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    .header {
      background-color: $background;
      height: 100vh;
      // padding-top: 10rem;
      .logo-img {
        width: 80%;
      }
      .row {
        flex-direction: column;
        padding-top: 10rem;
      }
    }
    .section {
      height: 100vh;
      background-color: #000000;
      // margin-top:20vh;
      display: flex;
      align-items: center;
      justify-content: center;
      .content-col {
        padding-right: 6rem;
      }

      .topic-content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .main-content {
        display: flex;
        
        justify-content: center;
        margin: 2rem;
        
      }
    }
  }
}

// .downward-col{
//     display:flex !important;
//     flex-direction: column;
// }
.topic {
  font-family: $topic-font;
  color: $primary-font-color;
  font-weight: 800;
}
.body-text {
  font-family: $content-font;
  color: $primary-font-color;
  overflow: hidden;
  text-align: justify;
}
.logo-images{
  width:50%;
}
//about section

//apply section
.apply-main{
  background-size: 400% 400%;
  .row{
    width: 100%;
  }
  .apply-div{
    display:flex;
    flex-direction: column;
    // background-color: $secondary-color;
    // height: 100vh;
    .apply-btn{
      border-radius: 50px;
      padding:1rem 2rem;
      margin:2rem 0;
      background-image: linear-gradient(135deg, #944D9A 0%, #EE488A 100%);
      
      // &::after{
      //   content: "";
      //   position: relative;
      //   top:10px;
      //   right:10px;
      //   transform: rotateX('45deg');
      //   border-right:2px solid #000000;
      // }
      &:hover{
        font-weight: 600;
        // padding-right: 5rem;
        transition-delay: 2s;
      }
    }
  
  }
  .rules{
    flex-direction: column !important;
    align-items:flex-start;
    font-size: 20px;
    ul{
      list-style-type: disc !important;
    }
    
  }
}

.App .content .section {
  padding: 50px 0;
  height: 100%;
}

.apply-main .row {
  width: 80%;
}

.guideline .row {
  width: 80%;
}

.apply-div .apply-btn {
  border-radius: 50px;
  padding: 1rem 2rem;
  margin: 5rem 0;
  background-image: linear-gradient(135deg, #944D9A 0%, #EE488A 100%);
}

//timline section
.timeline-section{
  height:fit-content !important;
  padding:5rem 0;
  flex-direction: column;
}

//info section
.info-section{
  background-color: white !important;
  background-size: 400% 400%;
}


@keyframes changeBackground {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}